################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/VisualGuitarGrid/bin/Debug
/VisualGuitarGrid/obj
/.vs
